# Backend API
fastapi==0.121.1
uvicorn[standard]==0.38.0
python-multipart==0.0.20
python-dotenv==1.2.1

# Database
pymysql==1.1.2
sqlalchemy==2.0.44
cryptography==46.0.3

# Computer Vision (headless cho server)
opencv-python-headless==4.10.0.84
numpy==2.2.6
pillow==11.3.0

# AI/ML
deepface==0.0.93
scikit-learn==1.7.0
facenet-pytorch==2.5.3
torch==2.9.1
torchvision==0.24.1
tensorflow>=2.20.0
tf-keras>=2.20.0

# Cloud Storage
cloudinary==1.41.0

# Utilities
pydantic==2.12.4